doctype html
html(lang="ja", ng-app='SvgApp')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width ,initial-scale=1.0")
		title svg.exp
		link(rel="stylesheet", href="./css/normalize.css")
		link(rel="stylesheet", href="./css/materialize.min.css")
		link(rel="stylesheet", href="./css/index.css")
		script(src="./js/snap.svg-min.js")
		script(src="./js/angular.min.js")
		script(src="./js/main.js")
		mixin loadJQuery( version )
			script(src="//ajax.googleapis.com/ajax/libs/jquery/#{ version }/jquery.min.js")
			script.
				window.jQuery || document.write("<script src='js/jquery-#{ version }.min.js'><\/script>");
		+loadJQuery('1.12.0')
		script(src="./js/materialize.js")
	body#circleStyle
		header
			.container
				h1 svg.exp
				.row
					.col.s6
		main(ng-controller="SvgController as svgC")
			.container.clearfix
				.row
					.col.s6
						.row
							.col.s12
								ul.tabs
									li.tab.col.s3
										a.tab-circle.active(href="#circleForm", ng-click="svgC.changeStyle('circleStyle')") 丸
									li.tab.col.s3
										a.tab-rect(href="#rectForm", ng-click="svgC.changeStyle('rectStyle')") 四角
									li.tab.col.s3
										a.tab-mark(href="#markForm", ng-click="svgC.changeStyle('markStyle')") 記号
									li.tab.col.s3
										a.tab-text(href="#textForm", ng-click="svgC.changeStyle('textStyle')") テキスト
							#circleForm.col.s12.row
								.inner
									button.circle-add-btn.btn.waves-effect.waves-light(type="button", ng-click="svgC.createCircle(); svgC.distResult(); svgC.saveLocal()") 丸を追加
									ol.row.col.s12
										li.row.col.s12(ng-repeat="circleP in svgC.circleList track by $index")
											form
												.col.s3
													label 半径
													input(type="number", ng-model="circleP.circleR", ng-change="svgC.circleAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 色
													input(type="text", ng-model="circleP.circleFill", ng-change="svgC.circleAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 線の色
													input(type="text", ng-model="circleP.circleBC", ng-change="svgC.circleAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 線の太さ
													input(type="number", ng-model="circleP.circleBW", ng-change="svgC.circleAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 不透明度
													input(type="range", max="1", min="0.1", step="0.1", ng-model="circleP.circleOpacity", ng-change="svgC.circleAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													button.button.red(type="button", ng-click="svgC.circleDelete($index); svgC.distResult(); svgC.saveLocal()") 削除
							#rectForm.col.s12.row
								.inner
									button.rect-add-btn.btn.blue.darken-2.waves-effect.waves-light(type="button", ng-click="svgC.createRect(); svgC.distResult(); svgC.saveLocal()") 四角を追加
									ol.row.col.s12
										li.row.col.s12(ng-repeat="rectP in svgC.rectList track by $index")
											form
												.col.s3
													label 横サイズ
													input(type="number", ng-model="rectP.rectW", ng-change="svgC.rectAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 縦サイズ
													input(type="number", ng-model="rectP.rectH", ng-change="svgC.rectAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 色
													input(type="text", ng-model="rectP.rectFill", ng-change="svgC.rectAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 線の色
													input(type="text", ng-model="rectP.rectBC", ng-change="svgC.rectAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 線の太さ
													input(type="number", ng-model="rectP.rectBW", ng-change="svgC.rectAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 不透明度
													input(type="range", max="1", min="0.1", step="0.05", ng-model="rectP.rectOpacity", ng-change="svgC.rectAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													button.button.red(type="button", ng-click="svgC.rectDelete($index); svgC.distResult(); svgC.saveLocal()") 削除
							#markForm.col.s12.row
								.inner
									button.mark-add-btn.btn.yellow.darken-2.waves-effect.waves-light(type="button", ng-click="svgC.createStar(); svgC.distResult(); svgC.saveLocal()") 記号を追加
									ol.row.col.s12
										li.row.col.s12(ng-repeat="markP in svgC.markList track by $index")
											form
												.col.s3
													label 記号
													select(ng-model="markP.markText", ng-change="svgC.markAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
														option ★
														option ♪
														option ♭
														option ♯
														option ∞
														option ∋
														option ∈
														option ♂
														option ♀
												.col.s3
													label サイズ
													input(type="range", max="240", min="12", step="1", ng-model="markP.fontSize", ng-change="svgC.markAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 色
													input(type="text", ng-model="markP.markC", ng-change="svgC.markAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 不透明度
													input(type="range", max="1", min="0", step="0.1", ng-model="markP.markOpacity", ng-change="svgC.markAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													button.button.red(type="button", ng-click="svgC.markDelete($index); svgC.distResult(); svgC.saveLocal()") 削除
							#textForm.col.s12.row
								.inner
									button.text-add-btn.btn.brown.waves-effect.waves-light(type="button", ng-click="svgC.insertText(); svgC.distResult(); svgC.saveLocal()") テキストを追加
									ol.row.col.s12
										li.row.col.s12(ng-repeat="textP in svgC.textList track by $index")
											form
												.col.s12
													label テキスト
													input(type="text", ng-model="textP.valText", ng-change="svgC.textAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 文字サイズ
													input(type="number", ng-model="textP.fontSize", ng-change="svgC.textAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 文字色
													input(type="text", ng-model="textP.fontC", ng-change="svgC.textAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													label 不透明度
													input(type="range", max="1", min="0", step="0.1", ng-model="textP.textOpacity", ng-change="svgC.textAttrReplace($index); svgC.distResult(); svgC.saveLocal()")
												.col.s3
													button.button.red(type="button", ng-click="svgC.textDelete($index); svgC.distResult(); svgC.saveLocal()") 削除
					.col.s6
						.row
							.col.s12
								ul.tabs
									li.col.s6.tab
										a.active(href="#svgContainer") キャンバス
									li.col.s6.tab
										a(href="#codeArea",ng-click="svgC.distResult()") コード
							#svgContainer
								svg#svgBox(width="514", height="514", viewBox="0, 0, 514, 514")
							#codeArea.clearfix
								.inner
									.row
										.col.s4
											button#download.btn(type="button", ng-click="svgC.saveImage('my.svg', svgC.imageText)") ダウンロード
										.col.s4
											button.btn(type="button", ng-click="svgC.drawCanvas();") jpg
										.col.s4
											button.button.red(type="button", ng-click="svgC.deleteAll(); svgC.distResult()") 全てリセット
									#resultArea
		//-#modalContainer
			#modalInner
				.modal-content
					.row
						.col.s12.center-align
							button.button.red(type="button", ng-click="svgC.deleteAll(); svgC.distResult()") 全てリセット
	.container
		.row
			.col.s6
				canvas#canvas(width="514", height="514")