doctype html
html(lang="ja", ng-app='SvgApp')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width ,initial-scale=1.0")
		title svg.exp
		link(rel="stylesheet", href="./css/normalize.css")
		link(rel="stylesheet", href="./css/materialize.min.css")
		link(rel="stylesheet", href="./css/index.css")
		script(src="./js/snap.svg-min.js")
		script(src="./js/angular.min.js")
		script(src="./js/main.js")
		script(src="./js/jquery-1.11.3.min.js")
		script(src="./js/materialize.js")
	body.circle-style
		header
			.container
				h1 svg.exp
		main(ng-controller="SvgController as svgC")
			.container.clearfix
				.row
					.col.s6
						.row
							.col.s12
								ul.tabs
									li.tab.col.s3
										a.tab-circle.active(href="#circleForm") 丸
									li.tab.col.s3
										a.tab-rect(href="#rectForm") 四角
									li.tab.col.s3
										a.tab-star(href="#starForm") 星
									li.tab.col.s3
										a.tab-text(href="#textForm") テキスト
							#circleForm.col.s12.row
								.inner
									button.btn.waves-effect.waves-light(type="button", ng-click="svgC.createCircle()") 丸を追加
									ol.row.col.s12
										li.row.col.s12(ng-repeat="circleP in svgC.circleList track by $index")
											form
												.col.s3
													label 半径
													input(type="number", ng-model="circleP.circleR", ng-change="svgC.circleAttrReplace($index)")
												.col.s3
													label 色
													input(type="text", ng-model="circleP.circleFill", ng-change="svgC.circleAttrReplace($index)")
												.col.s3
													label 線の色
													input(type="text", ng-model="circleP.circleBC", ng-change="svgC.circleAttrReplace($index)")
												.col.s3
													label 線の太さ
													input(type="number", ng-model="circleP.circleBW", ng-change="svgC.circleAttrReplace($index)")
												.col.s3
													label 不透明度
													input(type="range", max="1", min="0.1", step="0.1", ng-model="circleP.circleOpacity", ng-change="svgC.circleAttrReplace($index)")
												.col.s3
													button.button.red(type="button", ng-click="svgC.circleDelete($index)") 削除
							#rectForm.col.s12.row
								.inner
									button.btn.waves-effect.waves-light(type="button", ng-click="svgC.createRect()") 四角を追加
									ol.row.col.s12
										li.row.col.s12(ng-repeat="rectP in svgC.rectList track by $index")
											form
												.col.s3
													label 横サイズ
													input(type="number", ng-model="rectP.rectW", ng-change="svgC.rectAttrReplace($index)")
												.col.s3
													label 縦サイズ
													input(type="number", ng-model="rectP.rectH", ng-change="svgC.rectAttrReplace($index)")
												.col.s3
													label 色
													input(type="text", ng-model="rectP.rectFill", ng-change="svgC.rectAttrReplace($index)")
												.col.s3
													label 線の色
													input(type="text", ng-model="rectP.rectBC", ng-change="svgC.rectAttrReplace($index)")
												.col.s3
													label 線の太さ
													input(type="number", ng-model="rectP.rectBW", ng-change="svgC.rectAttrReplace($index)")
												.col.s3
													label 不透明度
													input(type="range", max="1", min="0.1", step="0.05", ng-model="rectP.rectOpacity", ng-change="svgC.rectAttrReplace($index)")
												.col.s3
													button.button.red(type="button", ng-click="svgC.rectDelete($index)") 削除
							#starForm.col.s12.row
								.inner
									button.btn.waves-effect.waves-light(type="button", ng-click="svgC.createStar()") 星を追加
									ol.row.col.s12
										li.row.col.s12(ng-repeat="starP in svgC.starList track by $index")
											form
												.col.s3
													label サイズ
													input(type="range", max="240", min="12", step="1", ng-model="starP.fontSize", ng-change="svgC.starAttrReplace($index)")
												.col.s3
													label 色
													input(type="text", ng-model="starP.starC", ng-change="svgC.starAttrReplace($index)")
												.col.s3
													label 不透明度
													input(type="range", max="1", min="0", step="0.1", ng-model="starP.starOpacity", ng-change="svgC.starAttrReplace($index)")
												.col.s3
													button.button.red(type="button", ng-click="svgC.starDelete($index)") 削除
							#textForm.col.s12.row
								.inner
									button.btn.waves-effect.waves-light(type="button", ng-click="svgC.insertText()") テキストを追加
									ol.row.col.s12
										li.row.col.s12(ng-repeat="textP in svgC.textList track by $index")
											form
												.col.s12
													label テキスト
													input(type="text", ng-model="textP.valText", ng-change="svgC.textAttrReplace($index)")
												.col.s3
													label 文字サイズ
													input(type="number", ng-model="textP.fontSize", ng-change="svgC.textAttrReplace($index)")
												.col.s3
													label 文字色
													input(type="text", ng-model="textP.fontC", ng-change="svgC.textAttrReplace($index)")
												.col.s3
													label 不透明度
													input(type="range", max="1", min="0", step="0.1", ng-model="textP.textOpacity", ng-change="svgC.textAttrReplace($index)")
												.col.s3
													button.button.red(type="button", ng-click="svgC.textDelete($index)") 削除
					.col.s6
						.row
							.col.s12
								ul.tabs
									li.col.s6.tab
										a.active(href="#svgContainer") キャンバス
									li.col.s6.tab
										a(href="#codeArea",ng-click="svgC.distResult()") コード
							#svgContainer
								svg#svgBox
							#codeArea.clearfix
								#resultArea