@charset "utf-8"

body
  transition: all 0.4s linear 0s

li
  list-style-position: inside

.container
  width: 1028px
  margin-left: auto
  margin-right: auto

.button,.btn
  margin-top: 24px

.button
  display: inline-block
  color: #fff
  border: none
  border-radius: 2px
  width: 100%
  padding: 0.6em 0
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
  transition: background 0.2s linear 0s
  &.red
    &:hover
      background: rgb(136, 0, 0) !important

#svgContainer
  text-align: center

#svgBox
  background: #fff
  border: 1px dotted #333

.plainText, .starSvg
  cursor: default

#codeArea
  width: 514px
  height: 514px
  margin: 0 auto
  background: #fff
  padding: 1em


// フォームのスタイル
#circleForm, #rectForm, #starForm, #textForm
  height: 514px
  overflow: hidden
  padding-top: 1em
  padding-bottom: 1em
  background: #ccc

.inner
  padding: 0 1em
  background: #fff
  height: 100%
  overflow-y: scroll

.indicator
  display: none



.tab-circle
  color: #7dbba3 !important
.tab-rect
  color: #7baeb8 !important
.tab-star
  color: #b8b87b !important
.tab-text
  color: #b8a37b !important

#circleForm
  background: #7dbba3

#rectForm
  background: #7baeb8

#starForm
  background: #b8b87b

#textForm
  background: #b8a37b



#circleStyle
  background: #bbffeb
  .tab-circle
    color: #FFF !important
    background: #7dbba3

#rectStyle
  background: #bdf4ff
  .tab-rect
    color: #fff !important
    background: #7baeb8

#starStyle
  background: #ffffbf
  .tab-star
    color: #fff !important
    background: #b8b87b

#textStyle
  background: #ffeabf
  .tab-text
    color: #fff !important
    background: #b8a37b
